service cloud.firestore {
  match /databases/{database}/documents {

  	match /User/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId;
  	}

    match /Private/{intId} {
      allow read: if request.auth.uid == resource.data.creator;
      allow write: if request.auth.uid == resource.data.creator || request.auth.uid == request.resource.data.creator;
  	}

    match /Organisations/{orgId} {
      allow read: if true;
      allow update: if get(/databases/$(database)/documents/Organisations/$(orgId)).data.Admin[request.auth.uid] == true;
      allow delete: if get(/databases/$(database)/documents/Organisations/$(orgId)).data.Admin[request.auth.uid] == true;
      allow create: if request.resource.data.Admin && request.resource.data.Admin[request.auth.uid] == true;
  	}

    match /OrgData/{orgId} {
      allow read: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
      allow write: if get(/databases/$(database)/documents/Organisations/$(request.resource.data.managedBy)).data.Admin[request.auth.uid] == true ||
      get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
  	}

    match /PersonalData/{memberId} {
      allow read: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
      allow write: if get(/databases/$(database)/documents/Organisations/$(request.resource.data.managedBy)).data.Admin[request.auth.uid] == true ||
      get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
  	}

    match /Relationships/{relId} {
      allow read: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
      allow write: if get(/databases/$(database)/documents/Organisations/$(request.resource.data.managedBy)).data.Admin[request.auth.uid] == true ||
      get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
  	}

    match /Interactions/{intId} {
      allow read: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
      allow write: if get(/databases/$(database)/documents/Organisations/$(request.resource.data.managedBy)).data.Admin[request.auth.uid] == true ||
      get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
  	}

    match /Events/{intId} {
      allow read: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
      allow write: if get(/databases/$(database)/documents/Organisations/$(resource.data.managedBy)).data.Admin[request.auth.uid] == true;
  	}
  }
}
